@tailwind base;
@tailwind components;
@tailwind utilities;


.textStrock{
    -webkit-text-stroke: 2px #008ce0;
    color: transparent;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.buttonStyle{
    @apply px-3 py-1 uppercase font-semibold text-white transition-all
 }
 .inputStyle{
    @apply px-3 py-2 border-2 border-primaryColor outline-none  w-full
 }